Repository hashicorp/consul-ui-toolkit, pull requests merged in 2023-06, with the labels that each got.

#26 Add component api docs component
  .changeset/short-moose-turn.md
  .github/workflows/ci.yml
  documentation/app/components/component-api/index.hbs
  documentation/app/styles/app.scss
  documentation/app/styles/components/component-api.scss
  documentation/app/templates/components/list-item.hbs
  documentation/package.json
  documentation/tests/integration/components/component-api-test.js
  toolkit/package.json
  yarn.lock
Labels: documentation

#25 CC-4502: Add list-item docs
  .gitignore
  documentation/app/components/component-api/index.hbs
  documentation/app/components/in-page-nav/index.hbs
  documentation/app/components/list-item/index.hbs
  documentation/app/components/page-header/index.hbs
  documentation/app/controllers/components/list-item.js
  documentation/app/styles/app.scss
  documentation/app/styles/components/component-api.scss
  documentation/app/styles/components/in-page-nav.scss
  documentation/app/styles/components/preview-block.scss
  documentation/app/styles/pages/list-item.scss
  documentation/app/templates/components/list-item.hbs
  documentation/app/templates/index.hbs
  documentation/ember-cli-build.js
  documentation/public/images/base-elevation.png
  documentation/public/images/high-elevation.png
  documentation/public/images/list-item-size.svg
  documentation/public/images/list-item-spacing.svg
  documentation/public/images/mid-elevation.png
  documentation/tests/integration/components/component-api-test.js
Labels: documentation, pr/no-changeset

#23 Version Packages
  .changeset/calm-candles-suffer.md
  .changeset/early-kings-mix.md
  .changeset/kind-brooms-rule.md
  .changeset/odd-fishes-smoke.md
  .changeset/short-moose-turn.md
  documentation/package.json
  toolkit/CHANGELOG.md
  toolkit/package.json
Labels: pr/no-changeset

#31 CC-4504: list item template docs
  documentation/app/components/list-item/index.hbs
  documentation/app/router.js
  documentation/app/styles/app.scss
  documentation/app/styles/components/list-item.scss
  documentation/app/styles/pages/list-item-template.scss
  documentation/app/templates/application.hbs
  documentation/app/templates/components/list-item-template.hbs
  documentation/public/images/list-item-template-connection-method-badge.svg
  documentation/public/images/list-item-template-connection-method-icon.svg
  documentation/public/images/list-item-template-content.svg
  documentation/public/images/list-item-template-interactivity.svg
  documentation/public/images/list-item-template-padding.svg
  documentation/public/images/list-item-template-responsive-large.svg
  documentation/public/images/list-item-template-responsive-small.svg
  documentation/public/images/list-item-template-section.svg
  documentation/public/images/list-item-template-tooltips.svg
  documentation/public/images/list-item-template-usage.svg
Labels: documentation, pr/no-changeset

#35 CC-5327: service list item docs
  .changeset/nine-kangaroos-return.md
  documentation/app/controllers/components/service-list-item.js
  documentation/app/router.js
  documentation/app/templates/application.hbs
  documentation/app/templates/components/list-item-template.hbs
  documentation/app/templates/components/list-item.hbs
  documentation/app/templates/components/service-list-item.hbs
  toolkit/src/components/cut/list-item/service/index.ts
Labels: documentation
