Repository hashicorp/consul-ui-toolkit, pull requests merged in 2024-03, with the labels that each got.

#95 Fix sidenav responsiveness issue
  documentation/app/styles/app.scss
  documentation/app/templates/application.hbs
Labels: bug, pr/no-changeset

#96 Disable a11y refocus on sidenav
  documentation/app/templates/application.hbs
Labels: documentation, pr/no-changeset

#88 Version Packages
  .changeset/gold-zoos-sin.md
  .changeset/many-worms-doubt.md
  .changeset/metal-beds-battle.md
  .changeset/purple-ties-argue.md
  .changeset/quick-apples-obey.md
  documentation/package.json
  toolkit/CHANGELOG.md
  toolkit/package.json
  yarn.lock
Labels: pr/no-changeset
